* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header {
    color: #1d2c53;
    line-height: 120px;
    text-align: center;
    font-size: 50px;
}

.main {
    margin: 0 70px;
}

.tool {
    display: flex;
    height: 80px;
    margin: 40px 0;
    justify-content: space-between;
}

.tool button {
    background-color: #1d2c53;
    padding: 20px 50px;
    color: #ffffff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.sort {
    display: flex;

}

.sort .sortText {
    font-size: 20px;
    font-weight: 600;
    color: #1d2c53;
    float: left;
    padding: 20px 30px;
    margin-bottom: 12px;
}

.sort select {
    background-color: #e4e4e4;
    float: left;
    padding: 20px 20px;
    padding-right: 50px;
    font-size: 20px;
    border-radius: 5px;
    -webkit-appearance:none;
    appearance: none;
}

.filterToppings {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.filterToppings p {
    font-size: 26px;
    margin-bottom: 20px;
}

.filterToppings .checkBoxs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.products .title{
    font-size: 50px;
    color: #ff6666;
}

.product {
    position: relative;
    background-color: #fff;
    width: 300px;
    margin-bottom: 20px;
    margin-right: 10px;
    height: 400px;
    color: #1d2c53;
    padding: 30px 20px;
}

.product .id {
    font-size: 26px;
    margin-bottom: 10px;
}

.product .name {
    font-size: 26px;
    font-weight: 600;
}

.product hr {
    border: 0;
    border-top: 3px solid #1d2c53;
    margin: 20px 0;
}

.product .textToppings {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
}

.product .toppings {
    font-size: 24px;
}

.product .trending {
    position: absolute;
    left: 0;
    bottom: 20px;
    background-color: #1d2c53;
    color: #fff;
    padding: 10px 30px;
    font-weight: 600;
}

.product .price {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #1d2c53;
    font-size: 30px;
    font-weight: 600;
}